html {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    background-image: linear-gradient(
        to right bottom,
    rgba(200,178,255,0.2),
    rgba(150, 60, 110, 0.2),
    ), 
    url(media/boxes.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

div{
    height: 20rem; 
    text-align: center;
}

.header{
    height: auto;
    background-color: rgba(100, 100, 100, .8);
    border: 2rem solid black;
    position: relative;
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
  }

h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 8rem;
    color: cyan;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
    color: lightpink;
}



#boxy1 {
    color: sandybrown;
    filter: drop-shadow(5px 5px 5px black);
}

bod{
    text-transform: uppercase;
    color: rgb(56, 10, 5);
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}

img {
    filter: drop-shadow(5px 5px 5px black);
    height: 30rem;
  }

img:nth-child(3){
    height: 50rem;
}



