html {
    margin:0;
    padding: .5rem;
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    background-image: url(media/boxes.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

div{ 
    text-align: center;
}

.header{
    height: auto;
    background-color: rgba(51, 100, 100, 1);
    border: 2rem solid black;
    font-weight: bold;
    text-transform: uppercase;
  }

h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 8rem;
    color: cyan;
    letter-spacing: 2rem;
    filter: drop-shadow(1rem 1rem 1rem black);
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    color: lightpink;
}

.parent {
    height: auto;
    background-color: rgba(0, 0, 0, .5);
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
    color: salmon;
}

img {
    filter: drop-shadow(5px 5px 5px black);
    height: 30rem;
  }


.child{
    position: absolute;
    top: 80%;
    left: 65%;
}

#boxxx {
    height: 25rem;
    z-index: 1;
}

#boxx {
    height: 5rem;
    z-index: 2;
}

#boxxxx {
    height: 4rem;
    z-index: 3;
}